*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.DS_Store
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/jace/nbproject/private/
*.jace.conf
/.netbeans_automatic_build
/.gitignore
/inputFiles.lst
*.DS_Store
!/lib/nestedvm.jar
_acme_tmp*
